/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* global variables */
:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-cream: hsl(30, 38%, 92%);
  --clr-black: hsl(212, 21%, 14%);
  --clr-grey: hsl(228, 12%, 48%);
  --clr-green-500: hsl(158, 36%, 37%);
  --clr-green-700: hsl(158, 42%, 18%);
  /* fonts */
  --text-preset-1: 700 2rem/1 "Fraunces", serif;
  --text-preset-2: 700 0.875rem/1.1 "Montserrat", sans-serif;
  --text-preset-3: 500 0.875rem/1.6 "Montserrat", sans-serif;
  --text-preset-4: 500 0.75rem/1.2 "Montserrat", sans-serif;
  --text-preset-5: 500 0.81rem/1.2 "Montserrat", sans-serif;
  /* spacing */
  --space-500: 2.5rem;
  --space-400: 2rem;
  --space-300: 1.5rem;
  --space-200: 1rem;
  --space-100: 0.5rem;
  --space-50: 0.25rem;
  /* other units */
  --border-radius: 0.5rem;
  --letter-spacing: 5px;
  --transition: all 0.3s linear;
  --box-shadow: 0.25rem 0.25rem 0.5rem hsla(0, 0%, 0%, 0.1);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-cream);
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  width: clamp(21.875rem, 90vw, 37.5rem);
  background-color: var(--clr-white);
  box-shadow: var(--box-shadow);
}

.img-container,
.text-container {
  flex: 1;
}

.main-image {
  width: 100%;
  display: block;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.text-container {
  padding: var(--space-400);
  display: flex;
  flex-direction: column;
  gap: var(--space-300);
}

.product,
.price,
.action {
  flex: 1;
}

.product {
  display: flex;
  flex-direction: column;
  gap: var(--space-300);
}

.label,
.title,
.text {
  flex: 1;
}

.label {
  font: var(--text-preset-4);
  letter-spacing: var(--letter-spacing);
  color: var(--clr-grey);
}

.title {
  color: var(--clr-black);
  font: var(--text-preset-1);
}

.text {
  color: var(--clr-grey);
  font: var(--text-preset-3);
  max-height: 5.5rem;
}

.price-main {
  color: var(--clr-green-500);
  font: var(--text-preset-1);
  display: flex;
  align-items: center;
  gap: var(--space-200);
}

.price-secondary {
  font: var(--text-preset-5);
  text-decoration: line-through;
  color: var(--clr-grey);
}

.btn {
  background-color: var(--clr-green-500);
  color: var(--clr-white);
  padding: var(--space-200) var(--space-400);
  display: block;
  width: 100%;
  border-radius: var(--border-radius);
  border: transparent;
  font: var(--text-preset-2);
  cursor: pointer;
  transition: var(--transition);
  max-height: 3.125rem;
}

.btn:hover {
  background-color: var(--clr-green-700);
}

@media screen and (min-width: 768px) {
  .card {
    flex-direction: row;
  }

  .main-image {
    content: url("./images/image-product-desktop.jpg");
    height: 100%;
    width: 18.75rem;
    border-bottom-left-radius: var(--border-radius);
    border-top-right-radius: 0;
  }

  .text-container {
    gap: var(--space-400);
  }
}
